/* global styles for all components */
:root{
  font-size: 16px;
  font-family: 'Raleway', 'Open Sans';
  --pure-white: #FCFCFC;
  --text-primary: #272727; 
  --text-secondary: #9B9B9B; 
  --text-tertiary: #f5f4f4;
  --bg-primary: #D9D9D9;
  --bg-secondary: #9B9B9B;
  --bg-tertiary: #3A3E42;
  --grad-primary: radial-gradient(circle, #afc4ae 0%, #68ccbf 89% ,#5ebfb2 100%);
  --grad-secondary: radial-gradient(circle, #c4b0ae 0%, #cc6f68 89% ,#bf6d5e 100%);
  --grad-tertiary: radial-gradient(circle, #aeb3c4 0%, #68a4cc 89% ,#5e88bf 100%);
  --transition-speed: 600ms;
  --transition-ease: 400ms ease-in-out;
}

body{
  margin: 0;
  background: var(--grad-tertiary);
}

/* button styles */
.btn-lg{
  padding: 1.1em;
  border-radius: 2em;
  background: var(--grad-primary);
  color: var(--text-primary);
  transition: var(--transition-speed);
}

.btn-sml{
  padding: .5em;
  border-radius: 1.5em;
  background: var(--grad-primary);
  color: var(--text-primary);
  transition: var(--transition-speed);
}

.btn-lg:hover, .btn-sml:hover{
  transform: scale(1.1);
  transition: var(--transition-speed);
  color: var(--text-tertiary);
}


/* styles for forms */
input[type=text], input[type=email], input[type=password], textarea {
  width: 60%;
  border: 2px solid var(--bg-secondary);
  border-radius: .4em;
  line-height: 1.5;
  transition: var(--transition-speed);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
  border: 2px solid var(--bg-tertiary);
  transition: var(--transition-speed);
}

.form {
  max-width:40vw;
  margin: auto;
  margin-top: 3px;
  background: var(--pure-white);
  border-radius:4px;
}

.form li{
  text-decoration: none;
  list-style: none;
  padding: 9px;
  border:2px solid var(--bg-primary);
  margin-bottom: 2em;
  border-radius: 3px;
  transition: var(--transition-speed);
}

.form li:hover{
  border-color: var(--bg-secondary);
  transition: var(--transition-speed);
}

.form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: var(--pure-white);
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
}

.form li > span{
  background: linear-gradient(var(--text-tertiary), var(--bg-primary));
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 11px;
}

.form > .btn-lg{
  display: inline;
  position: relative;
  left: 30vw;
}

.form > .btn-sml{
  float: right;
}



  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }